.country-container{
    padding: 3%;
    text-align: center;
}
.selected-country-container{
    display:flex;
    overflow: scroll;
    
}
.selected-country-container img{
    width:100px;
    margin: 10px;
}