.country{
    display: flex;
    margin:10px;
    width:50%;
    margin-left: 25%;
    margin-right: 25%;
    border: 1px solid gray;
}
.flag-container img{
    width:50%;
}
.info-container{
    width:50%;
}